<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!-- mybatis-config.xml  别名管理-->
    <typeAliases>
        <package name="com.shuai.bean"/>
    </typeAliases>

</configuration>